<footer class="footer">
    <div class="footer-column">
        <a href="/" class="footer-link">Home</a>
    </div>
    <div class="footer-column">
        <a href="/productos/catalogo" class="footer-link">Catálogo</a>
    </div>
    <div class="footer-column">
        <a href="/carrito" class="footer-link">Carrito</a>
    </div>

    <p>&copy; 2024 Mi Aplicación. Todos los derechos reservados.</p>
    
</footer>