<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    
</head>
<body>
    <div class="header">
        <nav class="navegador">
            <a href="/" class="logo">
                <img src="/images/EL QUINTO.png" alt="Logo" class="imgnav">
            </a>
            <a href="/" class="nav-btn">Home</a>
            <a href="/productos/catalogo" class="nav-btn">Catálogo</a>  
        </nav>
        <div class="icons">
            <a href="/carrito" class="nav-btn">
                <img src="/images/icono-carrito.png" alt="Carrito" class="carrito-icon">
            </a>
            <% if (user) { %>
                <span class="user-welcome">Bienvenido, <%= user.username %></span>
                <a href="/logout" class="nav-btn">Cerrar sesión</a>
            <% } else { %>
                <a href="/login" class="nav-btn">Login</a>
            <% } %>
        </div>
    </div>
</body>
</html>
